body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff6b6b, #ff8e8e); /* Gradient background */
    color: #333; /* Main text color - dark grey */
}

.contact-card {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9dbe5; /* Light pastel pink background for card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex; /* Use flexbox to layout the columns */
    flex-direction: column; /* Stack columns vertically */
    align-items: center; /* Center columns horizontally */
}

.contact-card .left-column {
    background-color: #f6a5c0; /* Pastel pink background */
    text-align: center;
    padding: 20px;
}

.contact-card .left-column .profile {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 0 4px #fff; /* Smaller shadow */
    width: 300px; /* Adjusted width */
    height: 300px; /* Adjusted height */
    margin-bottom: 20px; /* Add margin to separate from text */
}

.contact-card .left-column .profile img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire area of the container */
    border-radius: 50%;
}

.contact-card .right-column {
    padding: 20px;
    text-align: left; /* Left-align text */
    color: #333; /* Dark grey text color */
}

.contact-card .right-column h1,
.contact-card .right-column h5,
.contact-card .right-column h4,
.contact-card .right-column h3 {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.social-link {
    font-size: 24px; /* Adjust the size of the icons */
    margin: 0 10px; /* Add margin between icons */
    color: #fff; /* Icon color */
    transition: transform 0.3s
